
{% extends "layout.html" %}

{% block pageTitle %}
  Switch agency - MOJ Casework Prototype
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Choose agency
    </h1>
  </div>
</div>


<ul class="switcher-agency-list">
  <li>
    <h1 class="govuk-heading-s"><a href="#" class="switcher-agency-link">Criminal Injuries Compensation Authority</a></h1>
  </li>
  <li>
    <h1 class="govuk-heading-s"><a href="#" class="switcher-agency-link">HM Courts & Tribunals Service</a></h1>
  </li>
  <li>
    <h1 class="govuk-heading-s"><a href="#" class="switcher-agency-link">HM Prison & Probation Service</a></h1>
  </li>
  <li>
    <h1 class="govuk-heading-s"><a href="#" class="switcher-agency-link">Judicial Office</a></h1>
  </li>
  <li>
    <h1 class="govuk-heading-s"><a href="#" class="switcher-agency-link">Law Commission</a></h1>
  </li>
  <li>
    <h1 class="govuk-heading-s"><a href="#" class="switcher-agency-link">Legal Aid Agency</a></h1>
  </li>
  <li>
    <h1 class="govuk-heading-s"><a href="#" class="switcher-agency-link">Ministry of Justice HQ</a></h1>
  </li>
  <li>
    <h1 class="govuk-heading-s"><a href="#" class="switcher-agency-link">Office of the Public Guardian</a></h1>
  </li>
  <li>
    <h1 class="govuk-heading-s"><a href="#" class="switcher-agency-link">The Parole Board</a></h1>
  </li>
  <li>  
    <h1 class="govuk-heading-s"><a href="#" class="switcher-agency-link">Official Solicitor and Public Trustee</a></h1>
  </li>
</ul>


{% endblock %}


