
{% extends "layout.html" %}

{% block pageTitle %}
  Your cases - MOJ Casework Prototype
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        1001678
      </h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-m">
        Case details
      </h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <table class="govuk-table">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Created date</th>
            <td class="govuk-table__cell">25 January 2019</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Due date</th>
            <td class="govuk-table__cell">30 Feburary 2019</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Status</th>
            <td class="govuk-table__cell">To be assigned</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">With</th>
            <td class="govuk-table__cell">Jo Bloggs</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

{% endblock %}
