// Note - this code for prototype purposes only. It is not production code,
  
.switcher {
  border-bottom: 1px solid #DEE0E2;
  margin-bottom:30px;
}

.switcher-current-agency {
  padding: 0px;

  h1 {
    margin-bottom:5px;
  }
}

.switcher-change-link {
  text-align: right;
  padding: 0px;
}

ul.switcher-agency-list {
  list-style-type: none;
  padding-left: 0px;
  margin-bottom: 60px;
}


   



