
{% extends "layout.html" %}

{% block pageTitle %}
  All cases - MOJ Patterns Prototype
{% endblock %}

{% block content %}

<style type="text/css">
   .global-nav {
      background-color: white;
      margin-bottom:60px;
      border-bottom: 1px solid #DEE0E2;
      margin-left: 15px;
      margin-right: 15px;
      
   }

   .global-nav ul{
      margin: 0px;
      padding: 0px;
   }

.global-nav a {
  text-decoration: none;
}


.global-nav a.active {
    border-bottom: 5px solid #005ea5;
}

.global-nav a {
    font-size: 19px;
    padding: 0.25em 0.25em 0.75em 0.25em;
}

.global-nav-item {
    margin-right:15px;
    font-weight: bold;
    display: inline-flex;
}


</style>

  <div class="govuk-grid-row">
    <nav class="global-nav">
      <ul>
        <li class="global-nav-item"><a class="active" href="#">All cases</a></li>
        <li class="global-nav-item"><a class="" href="#">Your cases</a></li>
        <li class="global-nav-item"><a class="" href="#">Reports</a></li>
      </ul>
    </nav>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        All cases
      </h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Case number</abbr></th>
            <th class="govuk-table__header" scope="col">Due</th>
            <th class="govuk-table__header" scope="col">Status</th>
            <th class="govuk-table__header" scope="col">With</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th class="govuk-table__cell" scope="row"><a href="#">1001678</a></th>
            <td class="govuk-table__cell">30 Feb 2019</td>
            <td class="govuk-table__cell">To be assigned</td>
            <td class="govuk-table__cell">Jo Bloggs</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell" scope="row"><a href="#">1001679</a></th>
            <td class="govuk-table__cell">30 Feb 2019</td>
            <td class="govuk-table__cell">In progress</td>
            <td class="govuk-table__cell">Sam Smith</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell" scope="row"><a href="#">1001680</a></th>
            <td class="govuk-table__cell">30 Feb 2019</td>
            <td class="govuk-table__cell">Completed</td>
            <td class="govuk-table__cell">Taylor Brown</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell" scope="row"><a href="#">1001678</a></th>
            <td class="govuk-table__cell">30 Feb 2019</td>
            <td class="govuk-table__cell">To be assigned</td>
            <td class="govuk-table__cell">Jo Bloggs</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell" scope="row"><a href="#">1001679</a></th>
            <td class="govuk-table__cell">30 Feb 2019</td>
            <td class="govuk-table__cell">In progress</td>
            <td class="govuk-table__cell">Sam Smith</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell" scope="row"><a href="#">1001680</a></th>
            <td class="govuk-table__cell">30 Feb 2019</td>
            <td class="govuk-table__cell">Completed</td>
            <td class="govuk-table__cell">Taylor Brown</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell" scope="row"><a href="#">1001678</a></th>
            <td class="govuk-table__cell">30 Feb 2019</td>
            <td class="govuk-table__cell">To be assigned</td>
            <td class="govuk-table__cell">Jo Bloggs</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell" scope="row"><a href="#">1001679</a></th>
            <td class="govuk-table__cell">30 Feb 2019</td>
            <td class="govuk-table__cell">In progress</td>
            <td class="govuk-table__cell">Sam Smith</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell" scope="row"><a href="#">1001680</a></th>
            <td class="govuk-table__cell">30 Feb 2019</td>
            <td class="govuk-table__cell">Completed</td>
            <td class="govuk-table__cell">Taylor Brown</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell" scope="row"><a href="#">1001678</a></th>
            <td class="govuk-table__cell">30 Feb 2019</td>
            <td class="govuk-table__cell">To be assigned</td>
            <td class="govuk-table__cell">Jo Bloggs</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

{% endblock %}
